<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="navbar_logoContainer" class="navbar-brand" href="{{ path('hiking_index') }}" >
				{% block navbar_logo %}
					<img src="/assets/img/navbarLogo" alt="logo" />
				{% endblock %}
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav nav-tabs nav-justified">
				<li>
					<a href="{{path('hiking_index')}}">
						<i class="fa fa-home" aria-hidden="true"></i> Accueil
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopu="true" aria-expanded="false">
						<span class="glyphicon glyphicon-comment"></span> Randos <span class="dropdownArrow glyphicon glyphicon-menu-down"></span>						
					</a>
					<ul class="dropdown-menu fade">
						<li>
							<a href="{{ path("hiking_wip") }}">
								<span class="glyphicon glyphicon-calendar"></span> Programme
							</a>
						</li>
						<li>
							<a href="{{ path("hiking_wip") }}">
								<i class="fa fa-male fa-lg" aria-hidden="true"></i>&nbsp; Topos
							</a>
						</li>
						<li>
							<a href="{{ path("hiking_wip") }}">
								<i class="fa fa-picture-o" aria-hidden="true"></i> Albums photos
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{ path("hiking_wip") }}">
						<span class="fa fa-book"></span>
						Ressources	
					</a>
				</li>	
				<li class="dropdown">
					{% if is_granted('ROLE_USER') %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopu="true" aria-expanded="false">
							<span class="glyphicon glyphicon-user"></span> Mon compte <span class="dropdownArrow glyphicon glyphicon-menu-down"></span>		
						</a>
						<ul class="dropdown-menu fade">
							<li>
								<a href="{{ path("hiking_wip") }}">
									<span class="glyphicon glyphicon-cog"></span> Profile
								</a>
							</li>
							<li>
								<a href="{{ path('hiking_admin_logout') }}">
									<i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion
								</a>
							</li>
						</ul>
					{% else %}
						<a href="{{ path('hiking_login') }}" id="showLoginRegisterBox">
							<i class="fa fa-sign-in" aria-hidden="true"></i> Connexion
						</a>			
					{% endif %}		
					<div id="loginRegisterBox" class="flip-container col-lg-12 hidden">
						<div class="flipper col-lg-12">
							<div class="front col-lg-12">
								<form id="loginForm">
									<h4>
										Connexion
									</h4>
									<div class="input-group col-lg-12">										
										<input placeholder="Nom de famille ou Email" type="text" class="col-lg-12">
									</div>
									<div class="input-group col-lg-12">										
										<input placeholder="Mot de passe" type="password" class="col-lg-12">
									</div>
									<button class="btn btn-success col-lg-12">
										Se connecter
									</button>
								</form>
								<button id="showRegister" class="flipPhrase btn btn-default col-lg-12">Pas de compte ? Je m'inscris !</button>
							</div>
							<div class="back col-lg-12">
								<form id="registerForm">
									<h4>
										Inscription
									</h4>
									<div class="input-group col-lg-12">										
										<input placeholder="Nom de famille" type="text" class="col-lg-12">
									</div>
									<div class="input-group col-lg-12">										
										<input placeholder="Email" type="email" class="col-lg-12">
									</div>
									<div class="input-group col-lg-12">										
										<input placeholder="Mot de passe" type="password" class="col-lg-12">
									</div>
									<button class="btn btn-success col-lg-12">
										S'inscrire
									</button>
								</form>
								<button id="showLogin" class="flipPhrase btn btn-default col-lg-12">Déjà un compte ? Je me connecte !</button>
							</div>
						</div>
					</div>
				</li>	
				<li>
					<a href="{{path('base_index')}}">
						<i class="fa fa-arrow-up" aria-hidden="true"></i> Retour
					</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<script>
	$('#showRegister').click(function() 
	{
		$('#loginRegisterBox').addClass('flipped');
	});

	$('#showLogin').click(function() 
	{
		$('#loginRegisterBox').removeClass('flipped');
	});

	$('#showLoginRegisterBox').click(function() 
	{
		$('#loginRegisterBox').toggleClass('in');
	});
	
	$('#loginForm').submit(function(e) 
	{
			e.preventDefault();
	});
	
	$('#registerForm').submit(function(e) 
	{
			e.preventDefault();
	});
</script>