<!DOCTYPE html>
<html>
	<head>
		<title>
			Foyer rural de Ponteilla-Nyls
		</title>

		<!-- Bootstrap 3 -->
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- textOnPicture -->
		<link href="/vendor/wndrr/text-on-picture/css/design.css" rel="stylesheet">
		<!-- textOnPicture -->
		<link href="/bower_components/TextOnPicture/dist/TextOnPicture.component.css" rel="stylesheet">
		<!-- Custom -->
		<link href="/assets/css/index.css" rel="stylesheet">

		<!-- Jqueyr -->
		<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- Bootstrap 3 -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- textOnPicture -->
		<script src="/bower_components/TextOnPicture/dist/TextOnPicture.component.js" type="text/javascript" charset="utf-8"></script>
		
        {% include '/_shared/Analytics.twig' %}
	</head>
	<body id="foyerRural" class="container-fluid">
		<section id="header" class="row" style="background-image: url('{{backgroundImagePath}}');">
			<nav class="navbar navbar-default indexNavbar">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" class="dropdown-toggle">
									Bulletins <b class="caret"></b>									
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/assets/newspapers/septembre-octobre-novembre-2018.pdf">
											Septembre-octobre-novembre 2018
										</a>
									</li>
									<li>
										<a href="/assets/newspapers/avril-mai-juin-2018.pdf">
											Avril-mail-juin 2018
										</a>
									</li>
									<li>
										<a href="/assets/newspapers/january-february-march-2018.pdf">
											Janvier-fevrier-mars 2018
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/assets/newspapers/novembre-decembre-janvier.pdf">
											Novembre-decembre-janvier 2017
										</a>
									</li>
									<li>
										<a href="/assets/newspapers/septembre-octobre-novembre.pdf">
											Septembre-octobre-novembre 2017
										</a>
									</li>
									<li>
										<a href="/assets/newspapers/mai-juin-juillet-2017.pdf">
											Mai-juin-juillet 2017
										</a>
									</li>
									<li>
										<a href="/assets/newspapers/january-february-march-2017.pdf">
											Janvier-fevrier-mars 2017
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/assets/newspapers/november-december-2016.pdf">
											Novembre-decembre 2016
										</a>
									</li>
								 </ul>
							</li>
							<li>
								<a href="{{ path('base_contactInfo') }}">
									Coordonnées des sections
								</a>
							</li>
							<li>
								<a href="{{ path('base_events') }}">
									Animations
								</a>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>       
			<h1 class="col-lg-12">            				
				<img src="/assets/img/logo.png" alt="logoFoyer" style="height:70px;">     
				Foyer rural de Ponteilla-Nyls
			</h1>
			<span style="text-align: right;"></span>
			<div id="headerText" class="col-lg-12">
				<!--<div class="row">
					<div style="background: none;" id="news" class="col-lg-6 col-lg-offset-4">
						<a href="/assets/img/FB_IMG_1524162532866.jpg" target="_blank">
							<img src="/assets/img/FB_IMG_1524162532866.jpg" alt="affiche" class="img img-responsive col-sm-3" />
						</a>
						<a href="/assets/img/labo pontailla 12 mai.jpg" target="_blank">
							<img src="/assets/img/labo pontailla 12 mai.jpg" alt="affiche" class="img img-responsive col-sm-3" />
						</a>
						<a href="/assets/img/mobil sport.jpg" target="_blank">
							<img src="/assets/img/mobil sport.jpg" alt="affiche" class="img img-responsive col-sm-3" />
						</a>
						<a href="/assets/img/PA20ANS.jpg" target="_blank">
							<img src="/assets/img/PA20ANS.jpg" alt="affiche" class="img img-responsive col-sm-3" />
						</a>
					</div>
				</div>-->
				<div class="row">
					<div id="contact" class="col-lg-8 col-lg-offset-3" style="margin-top:10%;">
						<div id="head">							
							Le foyer rural de PONTEILLA-NYLS vous accueille :
							<br />
							<a href="mailto:foyerruralponteillanyls@gmail.com">foyerruralponteillanyls@gmail.com</a> / 04.68.53.22.93
						</div>
						<!--<div id="text" style="overflow-y: auto; max-height: 300px;">
							Le président, le bureau, le conseil d'administration du foyer rural de Ponteilla-Nyls vous adressent leurs meilleurs vœux pour une excellente année 2018, que celle-ci voit se réaliser tous vos projets ! 
						</div>-->
						
					</div> 
				</div>
			</div>
		</section>
		<section id="sections" style="height:20%;">
			<div class="row">
				<div class="col-lg-8 col-xs-12 col-sm-12">
					<h2>
						sections sportives
					</h2>
					<div class="row">
						<div class="activity col-sm-6">
							<a href="{{ path('hiking_index') }}" class="col-lg-12">
								<h3>
									Randonnée pédestre
								</h3>
								<img src="/assets/img/indexThumbnails/hiking.jpg" alt="Randonnée" class="img img-responsive center-block">
							</a>
						</div>
						<div class="activity col-sm-6">
							<a href="{{ path('archery_index') }}" class="col-lg-12">
								<h3>
									Tir à l'arc
								</h3>
								<img src="/assets/img/indexThumbnails/archery.jpg" alt="Tir a l'arc" class="img img-responsive center-block">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="activity col-sm-6">
							<a href="{{ path('nordWalking_index') }}" class="col-lg-12">
								<h3>
									Marche nordique
								</h3>
								<img src="/assets/img/indexThumbnails/nordWalking.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
						<div class="activity col-sm-6">
							<a href="{{ path('tableTennis_index') }}" class="col-lg-12">
								<h3>
									Tennis de table
								</h3>
								<img src="/assets/img/indexThumbnails/tableTennis.jpg" alt="Tennis de table" class="img img-responsive center-block">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="activity col-sm-6 col-sm-offset-6">
							<a href="{{ path('yoga_index') }}" class="col-lg-12">
								<h3>
									Yoga
								</h3>
								<img src="/assets/img/indexThumbnails/yoga.jpg" alt="Yoga" class="img img-responsive center-block">
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-xs-12 col-sm-12">
					<h2>
						activités
					</h2>
					<div class="row">
						<div class="activity col-lg-12 col-sm-6">
							<a href="{{ path('teens_index') }}" class="col-lg-12">
								<h3>		
									Point ados
								</h3>
								<img src="/assets/img/indexThumbnails/foyer.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
						<div class="activity col-lg-12 col-sm-6">
							<a href="{{ path('relaxation_index') }}" class="col-lg-12">
								<h3>
									Relaxation
								</h3>
								<img src="/assets/img/indexThumbnails/happyRelax.png" alt="Relaxation" class="img img-responsive center-block">
							</a>
						</div>
					</div>
				</div>
			</div>
	
		</section>
		<div class="row">			
			<a class="col-xs-12 text-center" href="{{ path("base_mentionsLegales") }}">
				<span class="fa fa-file-text-o"></span>
				Mentions légales	
			</a>
		</div>
	</body>
</html>