<!DOCTYPE html>
<html>
	<head>
		<title>
			Foyer rural de Ponteilla-Nyls
		</title>

		<!-- Bootstrap 3 -->
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- textOnPicture -->
		<link href="/vendor/wndrr/text-on-picture/css/design.css" rel="stylesheet">
		<!-- textOnPicture -->
		<link href="/bower_components/TextOnPicture/dist/TextOnPicture.component.css" rel="stylesheet">
		<!-- Custom -->
		<link href="/assets/css/index.css" rel="stylesheet">

		<!-- Jqueyr -->
		<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- Bootstrap 3 -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- textOnPicture -->
		<script src="/bower_components/TextOnPicture/dist/TextOnPicture.component.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body id="foyerRural" class="container-fluid">
		<section id="header" class="row" style="background-image: url('{{backgroundImagePath}}');">
			<nav class="navbar navbar-default indexNavbar">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="/assets/newspapers/november-december-2016.pdf">
									Journal
								</a>
							</li>
							<li>
								<a href="{{ path('base_contactInfo') }}">
									Coordonnées des sections
								</a>
							</li>
							<li>
								<a href="{{ path('base_events') }}">
									Coordonnées des sections
								</a>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>       
			<h1 class="col-lg-12">            				
				<img src="/assets/img/logo.png" alt="logoFoyer" style="height:70px;">     
				Foyer rural de Ponteilla-Nyls
			</h1>
			<span style="text-align: right;"></span>
			<div id="headerText" class="col-lg-12">
				<div class="row">
					<div id="news" class="col-lg-4 col-lg-offset-1">
						<h3>
							REVEILLON ST SYLVESTRE 31&nbsp;décembre&nbsp;2016
						</h3>
						<span style="color: rgb(250, 100, 100); margin-left: 15%;">"Un réveillon comme à la maison"</span>
						<p>
							Convivialité,  échange,  partage, ambiance... Chacun amène son repas, ses couverts, ses boissons... Prévoir des mets festifs, ce n'est pas un pique nique, il est fortement recommandé de partager, faire découvrir, échanger.
						</p>
						<p>
							Inscription&nbsp;:&nbsp;10 € adhérents foyer rural / 15 € pour les non adhérents / 5 € pour les enfants de 6 à 18 ans, ceci pour couvrir les frais de sono, d'animation, les droits sacem, les cotillons, le ménage de la salle.
						</p>
						<p>
							Pour réserver&nbsp;:&nbsp;foyerruralponteillanyls@gmail.com, liste avec nom / prénom / adresse / date de naissance / tél / mail.
						</p>
						<p>
							Le paiement par chèque global ou individuel (ordre foyer rural) viendra valider la réservation à envoyer par courrier postal à foyer rural 31 av Pau Casals 66300 Ponteilla. 
						</p>
					</div>
				</div>
				<div class="row">
					<div id="contact" class="col-lg-8 col-lg-offset-3">
						<div id="head">							
							Le foyer rural de PONTEILLA-NYLS vous accueille :
							<br />
							<a href="mailto:foyerruralponteillanyls@gmail.com">foyerruralponteillanyls@gmail.com</a> / 04.68.53.22.93
						</div>
						<div id="text">
							<p>
								Le foyer rural de Ponteilla-Nyls est né en 1959. Son objectif est l'animation du milieu rural, pour tout public. Il compte plus de 15 sections et 300 adhérents. Ses activités sont très variées&nbsp;:&nbsp;enfance, jeunesse, animations, fêtes, loisirs, santé, formations, sport, citoyenneté, culture, séjours, intergénérationnel. Notre association dite "association d'éducation populaire" permet l'émancipation de l'individu, le partage des connaissances, la transmission de savoirs, participe à l'éducation de l'enfant et de l'ado au travers d'activités où sont toujours privilégiées la convivialité et le plaisir&nbsp;!
							</p>
							<p>
								Point ados, sections sportives, ateliers ... chacun y trouvera son bonheur pour des activités régulières. 
							</p>
							<p>
								Théâtre, concerts, soirées soupes ou tartes, conférences ... chacun prendra plaisir à s'y retrouver pour des soirées ou animations ponctuelles.
							</p>
						</div>
						
					</div> 
				</div>
			</div>
		</section>
		<section id="sections" style="height:20%;">
			<div class="row">
				<div class="col-lg-8 col-xs-12 col-sm-12">
					<h2>
						sections sportives
					</h2>
					<div class="row">
						<div class="activity col-sm-6">
							<a href="{{ path('hiking_index') }}" class="col-lg-12">
								<h3>
									Randonnée pédestre
								</h3>
								<img src="/assets/img/indexThumbnails/hiking.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
						<div class="activity col-sm-6">
							<a href="{{ path('archery_index') }}" class="col-lg-12">
								<h3>
									Tir à l'arc
								</h3>
								<img src="/assets/img/indexThumbnails/archery.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="activity col-sm-6">
							<a href="{{ path('nordWalking_index') }}" class="col-lg-12">
								<h3>
									Marche nordique
								</h3>
								<img src="/assets/img/indexThumbnails/nordWalking.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
						<div class="activity col-sm-6">
							<a href="{{ path('tableTennis_index') }}" class="col-lg-12">
								<h3>
									Tennis de table
								</h3>
								<img src="/assets/img/indexThumbnails/tableTennis.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-xs-12 col-sm-12">
					<h2>
						activités
					</h2>
					<div class="row">
						<div class="activity col-lg-12 col-sm-6">
							<a href="{{ path('teens_index') }}" class="col-lg-12">
								<h3>		
									Point ados
								</h3>
								<img src="/assets/img/indexThumbnails/foyer.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
						<div class="activity col-lg-12 col-sm-6">
							<a href="{{ path('relaxation_index') }}" class="col-lg-12">
								<h3>
									Relaxation
								</h3>
								<img src="/assets/img/indexThumbnails/happyRelax.jpg" alt="Marche nordique image" class="img img-responsive center-block">
							</a>
						</div>
					</div>
				</div>
			</div>
	
		</section>
		<div class="row">			
			<a class="col-xs-12 text-center" href="{{ path("base_mentionsLegales") }}">
				<span class="fa fa-file-text-o"></span>
				Mentions légales	
			</a>
		</div>
	</body>
</html>